*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a{
    cursor: pointer;
}

a{
text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
}
.topper{
    background-image: url(/paradox/assets/images/background-one.png);
    background-size: cover;
    height: 863px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 120px;
}
.nav{
    display: flex;
   gap: 603px;
   /* padding-top: 35px; */
   /* justify-content: space-around; */
   align-items: center;
    
}
.nav div img{
    width: 58px;
    height: 48px;
    margin-top: 23px;
}
.nav-links ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    list-style: none;
}
ul li a{
    color: #FFFFFF;
    cursor: pointer;
}
ul li a:hover{
    color: #FF688C;

}
ul li a:active{
    color: rgba(113, 213, 255, 0.24);;
}
.modern{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 47px;
}
.modern-left{
    display: flex;
    flex-direction: column;
    padding-top: 177px;
}
.modern-left h2{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    padding-bottom: 27px;
}
.modern-left p{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 54px;
}
.modern-left button{
    width: 147px;
    height: 46px;
    background: rgba(113, 213, 255, 0.24);
    border-radius: 90px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

color: #FFFFFF;
}
.modern-right img{
    width: 583px;
    height: 540px;
    padding-right: 128px;
}
.media-icon{
    display: flex;
    gap: 25px;
    cursor: pointer;
    
}
.media-icon img{
    width: 17px;
    height: 17px;
}
.service{
    margin-top: -366px;
}
.our-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 412px;
    padding-right: 412px;
    padding-top: 10px;
}
.our-service h1{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FF688C;
    padding-top: 337px;
    padding-bottom: 16px;
}
.our-service h2{
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    color: #000000;
    /* padding-bottom: 50px; */
    text-align: center;
    width: 615.11px;
    height: 108px;
}
.our-service h3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #7F7E7E;
    text-align: center;
    width: 403.87px;
    height: 78px;
    padding-top: 50px;
}
.digital-create{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 37px;
    padding-left: 120px;
    padding-right: 202px;
    padding-top: 131px;
}
.digital-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}
.triangle{
    margin-left: -90px;
}
.digital-text h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    width: 615px;
    height: 34px;
}
.digital-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #7F7E7E;
    width: 404px;
    height: 78px;

}
.portfolio{
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-images img{
    width: 374px;
    height: 464px;
}
.portfolio-images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 39px;
    row-gap: 48px;
    align-items: center;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 65px;
    
}
.portfolio button{
    width: 147px;
    height: 46px;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FF688C; 
    text-align: center;
    /* padding-top: 61px; */
}

.team-file{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 27px;
    padding-top: 110px;
    align-items: center;
    justify-content: center;
    padding-left: 123px;
    padding-right: 140px;

}
.team-images img{
    height: 342px;
    left: 424px;  
}
.team-images{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: space-around;
}
.mid-curve{
    width: 100%;
height: 299.7px;
    /* Width: 50.69px;
    Height: 42.38px; */
    padding-bottom: 21px ;
}
.work-with-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.work-text h2{
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    color: #000000;
    padding-bottom: 21px;
    /* padding-top: 49px; */
}
.work-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #7F7E7E;
    text-align: center;
    width: 519.35px;
height: 52px;
    /* padding-top: 21px; */
}
.work-with-us button{
    width: 147.02px;
    height: 45.83px;
    background: linear-gradient(101.53deg, #127CFF -9.34%, #2FC1FE 106.23%);
    border-radius: 90px; 
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 69px;
    border: none;
}
footer{
    display: flex;
    flex-direction: column;
    padding-left: 121px;
    padding-right: 142px;
    padding-top: 183px;
    
}
.para-logo{
    display: flex;
    gap: 13px;
    /* align-items: center; */
}
.para-logo p{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}
.paradox-main{
    display: flex;
    /* align-items: center; */
    gap: 388px;
    /* flex-direction: column; */
}
.para-group{
    display: flex;
    column-gap: 120px;
    /* align-items: center; */
}
.para-info{
    display: flex;
    flex-direction: column;
   column-gap: 123px;
}
.para-info p{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 9px;
}
.para-info ul li{
    font-weight: 400;
font-size: 16px;
color: #797979;
padding-top: 10px;
list-style: none;
}
.copyright{
    display: flex;
    column-gap: 581px;
    padding-top: 76px;
    padding-bottom: 112px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #797979;

}
.para-icons{
 display: flex;
 gap: 25px;   
}
.para-icons img{
    Width: 17.28px;
    height: 17.18px;
    column-gap: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
   .topper{
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
   }
   .nav{
    gap: 20px;
   }
   .nav-links ul{
    grid-template-columns: 1fr 1fr;
    gap: 5px;
   }
   .modern{
    grid-template-columns: 1fr;
    gap: 5px
   }
   .modern-left{
    padding-top: 50px;
   }
   .modern-right{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 31px;
   }
    .portfolio-images{
         /* height: 50%;
        width: 25%; */
        column-gap: 13px;
        row-gap: 12px;
        padding: 0;
    } 
    .portfolio-images img{
        width: 100%;
        height: 100%;
    }
    .our-service h2{
        width: 100%;
        height: 100%;
        font-size: 32px;
    }
    .our-service h3{
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }
    .digital-create img{
        width: 100%;

    }
    .digital-create{
        grid-template-columns: 0.5fr 1fr;
    padding: 0;
    margin-top: 20px;
    row-gap: 30px;
    align-items: center;
    }
    .media-icon{
        gap: 2px;
        padding: 0;
        margin: 40px;
    }
    .portfolio button{
     margin-top: 20px;

    }
    .modern-left h2{
        width: 50%;
        height: 50%;
    }
    .modern-right img{
        width: 100%;
        height: auto;
    }
    .service{
        padding-left: 20px;
    padding-right: 20px;
    margin-top: -80px;
}
    
    .our-service{
        padding: 31px;
    }.digital-create{

    }

    .digital-create p{
        width: 100%;
    height: 90%;
    }
    .digital-create h2{
        width: 100%;
    height: 90%;
    }
    .digital-text{
        gap: 10px;
    }
    .our-team{
        padding-right: 20px;
    padding-left: 20px;
    }
    .portfolio{
        padding-left: 20px;
    padding-right: 20px;
    align-items: none;
    }
    .our-service h1{
        padding-top: 40px;

    }
    section.portfolio{
        padding-left: 20px;
        padding-right: 20px;

    }
    .mid-curve img{
        width: 100%;
        height: 100%;
    }
    .work-text p{
        padding: 20px;
    width: 100%;
    height: 100%;
    }  
    .work-with-us button{
        margin-top: 20px;
    }
    .work-with-us{
        margin-top: 20px;
    }
    footer{
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px
    }
    .paradox-main{
        gap: 30px;
    flex-direction: column;
    }
    .para-group{
        gap: 17px;
    }
    .copyright{
        gap: 10px;
        flex-direction: column-reverse;
    }
    .team-file{
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    }
    .team-images div img{
        width: 100%;
        height: 100%;
    }
    .triangle{
        margin-left: 0;
    }

    
    
}
